<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Wikigames</div>
            <div class="nav-buttons">
                <a href="signup.html">
                <button class="btn-sign-in">Sign in</button>
                </a>
                <button class="btn-register">Register</button>
            </div>
        </nav>
    </header>

    <main>
        <aside class="sidebar">
            <div class="filters">
                <select id="filter-type">
                    <option value="recherche">Recherche personnalisée</option>
                    <option value="recents">Jeux récents</option>
                    <option value="anciens">Jeux anciens</option>
                    <option value="Solo">Solo</option>
                    <option value="Petit groupe">Petit groupe</option>
                    <option value="Groupe moyen">Groupe moyen</option>
                    <option value="Grand groupe">Grand groupe</option>
                    <option value="Court">Court</option>
                    <option value="Moyen">Moyen</option>
                    <option value="Long">Long</option>
                </select>
            </div>
        </aside>

        <section class="products">
            <div id="filter-form">
                <input type="text" id="filter-name" placeholder="Nom du jeu">
                <input type="number" id="filter-annee" placeholder="Année min">
                <input type="number" id="filter-joueurs-min" placeholder="Joueurs min">
                <input type="number" id="filter-joueurs-max" placeholder="Joueurs max">
                <button id="filter-btn">Filtrer</button>
            </div>
        
            <div id="games-container" class="product-grid">
                <!-- Les jeux seront chargés ici -->
            </div>
            <div>
                <button id="prev-btn">Précédent</button>
                <button id="next-btn">Suivant</button>
            </div>
        </section>
        
    </main>
    <script src="/static/js/product.js"></script>
</body>
</html>
