<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details - Wiki Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="http://127.0.0.1:5000/">
                <div class="logo">Wikigames</div>
            </a>
            <div class="nav-buttons">
                <a href="signup.html">
                    <button class="btn-sign-in">Sign in</button>
                </a>
                <button class="btn-register">Register</button>
            </div>
        </nav>
    </header>

    <main class="product-details">
        <div id="game-details">
            <!-- Les détails du jeu seront insérés ici -->
        </div>

        <section class="reviews">
            <h2>Latest reviews</h2>
            <div id="review-grid" class="review-grid">
                <!-- Reviews will be inserted here -->
            </div>

            <div class="comment-section">
                <h3>Leave a comment</h3>
                <textarea placeholder="Your comment"></textarea>
                <button class="btn-submit">Reply</button>
            </div>
        </section>
    </main>

    <script src="/static/js/details.js"></script>
</body>
</html>
